body{
    background-color:black;
}

.pork {
    color:salmon;
    text-align: center;
}

.titulo {
    color:salmon;
    text-align: center;
}

#container {
  text-align: center;
}


div#botones a img#aceptar{
    margin-right: 15%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-blend-mode: overlay;
    background-color: black;
}

div#botones a img#colgar{
    border-radius: 100px;
    width: 60px;
    height: 60px;
}




.pork {
    text-align:center;
}

div.pork img{
    width: 1000px;
    height: 500px;
}

a img{
    transition: transform 1s ease;
}

a img:hover{
    transform: scale(1.2);
}

@media (max-width: 1280px) {

    div.botones a img#aceptar{
        margin-left: 400px;
        width: 60px;
        height: 60px;
    }
    
    div.botones a img#colgar{
        margin-left: 100px;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 768px) {

    div.pork img{
        width: 80%;
        height: 80%;
    }

    div.botones a img#aceptar{
        margin-left: 310px;
        width: 29px;
        height: 29px;
    }
    
    div.botones a img#colgar{
        margin-left: 50px;
        width: 30px;
        height: 30px;
    }

    body{
        background-image: linear-gradient(to right, #051327, #000);
    }
}


@media (max-width: 480px){
    div.pork img{
        width: 80%;
        height: 80%;
    }

    div.botones a img#aceptar{
        margin-left: 175px;
        width: 29px;
        height: 29px;
    }
    
    div.botones a img#colgar{
        margin-left: 50px;
        width: 30px;
        height: 30px;
    }

    body{
        background-image: linear-gradient(to right, red, #000);
    }

    
}


div#porkmalo{
    text-align: center;
}

div#porkmalo img{
    width: 1800px;
    height: 900px;	
}
