body {
    background-color: black;
}
.container {
  inset: 0;
  position: fixed;
  z-index: -1;
}

.space {
  --size: 2px;
  --space-layer: 
    4vw 50vh 0 #fff,
    18vw 88vh 0 #fff,
    73vw 14vh 0 #fff;
  
  width: var(--size);
  height: var(--size);
  background: white;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
}

.space {
   animation: move var(--duration) linear infinite;
}

@keyframes move {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); }
}

.titulo {
    color:white;
    text-align: center;
}

#pessi{
    text-align: center;
    padding-bottom: 30px;
}

#pessi img {
    border-radius: 50px;
    width: 500px;
    height: 450px;
    transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

#pessi img:hover {
    transform: scale(1.1); /* Aumentar tamaño al hacer hover */
}

.pessi {
    color:white;
    text-align: center;
    padding: 30px;
}

.pessi img {
    border-radius: 25px;
    width: 400px;
    height: 300px;
    transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.pessi img:hover {
    transform: scale(1.1); /* Aumentar tamaño al hacer hover */
}

#ñessi {
    color:white;    
}

#ñessi img {
    width: 600px;
}

#mechikito {
    text-align: center;
    color:white;
}

#mechikito img {
    width: 400px;
    height: 300px;
    border-radius:40px;
    transition: transform 0.3s ease;
}


#mechikito img:hover {
    transform: scale(1.2);
}

.contenedor-enlaces {
    display: flex; /* Utiliza flexbox para alinear los enlaces en la misma línea */
    justify-content: space-between; /* Distribuye los elementos a lo largo de la línea */
    align-items: center; /* Centra verticalmente los elementos */ /* Espacio superior entre el contenedor y los enlaces */
}

.enlaces {
    display: inline-block;
}

#cerdo {
    margin-left:10px;
    margin-top: 100px;
 }

#cerdo img {
    transition: transform 1s ease;
}

#cerdo img:hover {
    transform: scale(1.9);
}

div#goku{
    margin-right:15px;
    background-image: url(2.jpg);
    background-size: cover;
    cursor: pointer;
    transition: transform 500ms ;
    width:120px; 
    height:200px;
}

div#goku:hover {
    background-image: url(1.gif);
    transform: scale(1.2);
}
.enlaces a {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    div#pessi img{
        width: 250px;
        height: 200px;
    }

    div.pessi img{
        width: 250px;
        height: 200px;
    }
    
    div#ñessi img{
        width: 250px;
        height: 200px;
    }
    
    div#mechikito img{
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 480px) {
      div#goku{
       margin-right: 2px;

       width: 100px;
       height: 150px;
    }
    
    div#cerdo{
        margin-top: 90px;
        margin-left: 15px;
    }
}


