body{
    background-image: linear-gradient(to right, #051327, #000);
    }
    
    div.gokuGif{
        text-align: center;
        margin-top: 25px;
    }
    
    div.gokuGif img{
        width: 900px;
        height: 550px;
        border-radius: 100px;
    }